In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as iter

from collections import Counter
from operator import itemgetter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1256,tt1517260,44000000,63327201,The Host,Saoirse Ronan|Diane Kruger|Jake Abel|William H...,Andrew Niccol,You will be one of us,A parasitic alien soul is injected into the bo...,125,Action|Adventure|Romance|Science Fiction|Thriller,Nick Wechsler Productions|Open Road Films|Silv...,3/22/2013,6.0,2013
1449,tt0389860,82500000,237681299,Click,Adam Sandler|Kate Beckinsale|Christopher Walke...,Frank Coraci,What If You Had A Remote... That Controlled Yo...,A workaholic architect finds a universal remot...,107,Comedy|Drama|Fantasy|Romance,Original Film|Columbia Pictures Corporation|Re...,6/22/2006,5.9,2006
533,tt0256380,40000000,141069860,Shallow Hal,Gwyneth Paltrow|Jack Black|Jason Alexander|Joe...,Bobby Farrelly|Peter Farrelly,Are You A Shallow Guy?,A shallow man falls in love with a 300 pound w...,114,Comedy|Romance,Twentieth Century Fox Film Corporation,11/1/2001,5.5,2001
851,tt1596343,125000000,626137675,Fast Five,Vin Diesel|Paul Walker|Dwayne Johnson|Jordana ...,Justin Lin,Get the Fifth Gear.,Former cop Brian O'Conner partners with ex-con...,130,Action|Thriller|Crime,Universal Pictures|Original Film|One Race Prod...,4/20/2011,7.1,2011
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
'''This code constructs new column "profit" for tasks below'''
profit = data["revenue"] - data["budget"]
data.insert(3, "profit", profit)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
'''Tsis code change str format in column "release_date" to formst datetime64[ns]'''
data["release_date"] = data["release_date"].astype("datetime64[ns]")
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data["budget"]==max(data["budget"])][["original_title","imdb_id"]]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data[data["runtime"]==max(data["runtime"])][["original_title","imdb_id"]]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [11]:
data[data["runtime"]==min(data["runtime"])][["original_title","imdb_id"]]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'

In [13]:
round(data["runtime"].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'

In [15]:
round(data["runtime"].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [17]:
data[data["profit"]==max(data["profit"])][["original_title","imdb_id"]]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [19]:
data[data["profit"]==min(data["profit"])][["original_title","imdb_id"]]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'

In [21]:
data[data["profit"]>0]["profit"].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [23]:
max_profit = data[data["release_year"]==2008]["profit"].max()
data[data["profit"]==max_profit][["original_title","imdb_id"]]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [25]:
min_profit = data[(data["release_year"]<2014) & (data["release_year"]>2008)]["profit"].min()
data[data["profit"]==min_profit][["original_title","imdb_id"]]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [27]:
answers['11'] = 'Drama'

In [28]:
c = Counter()
for x in data["genres"]:
    genre = x.split("|")
    for word in genre:
        c[word] +=1
genres = sorted(c.items(), key=itemgetter(1))
genres[-1]

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama'

In [30]:
new_data = data.query("profit>0")
new_counter = Counter()
for x in new_data["genres"]:
    genre = x.split("|")
    for word in genre:
        new_counter[word] +=1
genres = sorted(new_counter.items(), key=itemgetter(1))
genres[-1]

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = 'Peter Jackson'

In [32]:
revenue = data.groupby(["director"]).sum()
revenue_sorted = revenue["revenue"].sort_values(ascending=False)
revenue_sorted.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez'

In [34]:
data_14 = data.assign(director=data.director.str.split("|")).explode("director")
genre_action = data_14[data_14.genres.str.contains("Action", na = False)]
genre_action.director.value_counts().head()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth'

In [36]:
data_15 = data.assign(cast=data.cast.str.split("|")).explode("cast")
data_15 = data_15.query('release_year==2012')
coins = data_15.groupby(["cast"])["revenue"].max()
coins.sort_values(ascending=False).head()

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon'

In [38]:
data_16 = data.assign(cast=data.cast.str.split("|")).explode("cast")
data_16 = data_16.query('budget>budget.mean()')
films = data_16.groupby(["cast"])["cast"].value_counts()
films.sort_values(ascending=False).head(2)

cast          cast
Matt Damon    Matt Damon      18
Adam Sandler  Adam Sandler    17
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action'

In [40]:
data_17 = data.assign(genres=data.genres.str.split("|")).explode("genres")
data_17 = data_17.assign(cast=data_17.cast.str.split("|")).explode("cast")
data_17 = data_17.query('cast=="Nicolas Cage"')
data_17.genres.value_counts().head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [42]:
data_18 = data.assign(production_companies=data.production_companies.str.split("|")).explode("production_companies")
data_18 = data_18.query('production_companies=="Paramount Pictures"')
data_18.query('profit==profit.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
925,tt0267626,100000000,35168966,-64831034,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015'

In [44]:
year_revenue = data.groupby(["release_year"])["revenue"].sum()
year_revenue.sort_values(ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014'

In [46]:
data_20 = data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(data['release_year'])
data_20['profit'].sum().sort_values(ascending=False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = 'Сентябрь'

In [48]:
month_count = data["release_date"].dt.month.value_counts()  
month_count.sort_values(ascending=False).head()

9     227
12    190
10    186
8     161
3     156
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450'

In [50]:
month_count = data["release_date"].dt.month.value_counts()  
month_count[6]+month_count[7]+month_count[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson'

In [52]:
data_23 = data.assign(director=data.director.str.split("|")).explode("director")
data_23['month'] = data_23["release_date"].dt.month
data_23 = data_23[(data_23['month']==1) | (data_23['month']==2) | (data_23['month']==12)]

winter_director = Counter()

for word in data_23['director']:
    winter_director[word] += 1
    
winter_director = sorted(winter_director.items(), key=itemgetter(1),reverse=True)
winter_director[0]

('Peter Jackson', 7)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions'

In [56]:
data_24 = data.assign(original_title=data.original_title.str.split(" "))
data_24['title_length'] = data_24.original_title.map(lambda x: len(x))

companies = data_24['production_companies'].str.split('|').explode().unique()
sum_companies = pd.Series(dtype='float64', index=companies)

for comp in companies:
    sum_companies[comp] = data_24['title_length'][data_24['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_companies.sort_values(ascending=False).head()

Four By Two Productions    12.0
Jim Henson Company, The    10.0
The Saul Zaentz Company     9.0
Dos Corazones               9.0
Polsky Films                9.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = 'Midnight Picture Show'

In [57]:
data_25 = data.assign(overview=data.overview.str.split(" "))
data_25['overview_length'] = data_25.overview.map(lambda x: len(x))

companies = data_25['production_companies'].str.split('|').explode().unique()
sum_companies = pd.Series(dtype='float64', index=companies)

for comp in companies:
    sum_companies[comp] = data_25['overview_length'][data_25['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_companies.sort_values(ascending=False).head()

Midnight Picture Show               175.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [60]:
'''Only with 3% best rate sample this code works add present all films we need for answer. 
   One persent sample give us only "The Dark Knight"'''
top_rate = data.vote_average.max()
highest_rank = top_rate/100*97
data[data["vote_average"]>=highest_rank]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,678708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015
34,tt3170832,6000000,35401758,29401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015
118,tt0816692,165000000,621752480,456752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014
119,tt2015381,170000000,773312399,603312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014
125,tt2084970,14000000,233555708,219555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014
128,tt2267998,61000000,369330363,308330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014
138,tt2278388,30000000,174600318,144600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014
370,tt1375666,160000000,825500000,665500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010
599,tt0468569,185000000,1001921825,816921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008
872,tt0253474,35000000,120072577,85072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002
1081,tt0167260,94000000,1118888979,1024888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003
1183,tt0993846,100000000,392000694,292000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013
1191,tt2024544,20000000,187000000,167000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013
1800,tt0209144,9000000,39723096,30723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [62]:
data_27 = data.assign(cast=data.cast.str.split("|"))

pairs = []
for index in range (0,len(data_27)):
    for item in iter.combinations(data_27["cast"][index],2):
        pairs.append(item)
        
answer = Counter(pairs).most_common()
answer[0:2]

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8)]

ВАРИАНТ 2

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27